.container {
    background-color: #ffffff; /* Белый фон */
    min-height: 100vh;
    padding: 20px;
    color: #333333;
  }
  
  .header {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333; /* Темный текст */
  }
  
  .calendarContainer {
    margin-bottom: 20px;
  }
  
  .createTaskButton {
    background-color: #17bebb; /* Бирюзово-синий */
    color: white;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .createTaskButton:hover {
    background-color: #0f7c7a; /* Более темный при наведении */
  }
  
  .rbc-today {
    background-color: #ffffff !important; /* Убираем белый фон выделения для "сегодня" */
  }
  
  .rbc-time-header-cell {
    color: #cf0909; /* Темный текст для дней недели */
  }
  
  .rbc-time-content {
    border-color: #dddddd; /* Легкий серый для границ */
  }

  /* Стили для текста внутри событий календаря */
.rbc-event-content {
    white-space: normal; /* Разрешаем перенос строк */
    overflow: visible; /* Отключаем обрезку текста */
    color: black; /* Устанавливаем черный цвет текста для лучшего контраста */
    padding: 5px; /* Увеличиваем внутренний отступ */
}

/* Стили для всех событий в календаре */
.rbc-event {
    border-radius: 5px; /* Добавляем скругленные углы */
    opacity: 0.9; /* Прозрачность */
    display: block; /* Убедимся, что событие отображается как блок */
}

/* Стили для текста времени события */
.rbc-event-label {
    color: black; /* Цвет для времени */
    font-weight: bold; /* Делаем время более заметным */
}
.rbc-time-content > * {
    min-height: 100px !important; /* Увеличиваем минимальную высоту ячеек */
}

.rbc-time-slot {
    height: 100px !important; /* Принудительно задаем высоту каждой ячейки */
}


  